# Laravel-specific
/vendor
/node_modules
/public/storage
/public/hot
/storage/*.key
/.env

# Homestead/Vagrant
/.vagrant
Homestead.json
Homestead.yaml

# Composer dependencies
/composer.phar
/vendor/

# IDE specific
/.idea
/.vscode
/.phpstorm.meta.php
*.sublime-*
*.code-workspace

# Testing
/phpunit.xml
/tests/

# Application specific
/public/uploads

# System files
.DS_Store
Thumbs.db
