.card{
    border-radius: 12px;
    margin-top: 5vh;
    width: 50vh;
    margin-left: 10px;

}
.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px); /* Height of navbar */
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content */
}

/* Nav pills styling */
.nav-pills .nav-link {
    color: #333
}
body {
    background-color: #eef3fb;
}

